<header th:unless="${checkUser.isAdmin()}" th:fragment="header" class="header" xmlns:th="">
    <div id="header">
        <div class="header-txt-container">
            <h1 class="header-txt">ProfOrgSoft</h1>
            <div class="theme-switcher-container">
                <div class="switcher-button switcher-button-light">🌝</div>
                <div class="switcher-button switcher-button-dark">🌚</div>
            </div>
        </div>
        <div class="separator"></div>
        <a class="header-button header-button1" th:href="@{../../../../mainPage/index}">Сотрудники</a>
        <a class="header-button header-button2" th:href="@{../../../../childrenPage/index}">Дети сотрудников</a>
        <a class="header-button header-button3" th:href="@{../../../../unionMemPubOrgPage/index}">Сотрудники в общественных
            орг.</a>
        <a class="header-button header-button4" th:href="@{../../../../publicOrganizationsPage/index}">Общественные организации</a>
        <div class="separator"></div>
        <a class="header-button header-button5" th:href="@{../../../../positionsPage/index}">Должности</a>
        <a class="header-button header-button6" th:href="@{../../../../unionMembersApplicationsPage/index}">Заявления членов
            профсоюза</a>
        <a class="header-button header-button7" th:href="@{../../../../applicationTypesPage/index}">Типы заявлений</a>
        <a class="header-button header-button8" th:href="@{../../../../paymentsAmountPage/index}">Суммы выплат</a>
        <div class="separator"></div>
        <a class="header-button header-button9" th:href="@{../../../../groundsForFinPayPage/index}">Основания материальных выплат</a>
        <a class="header-button header-button10" th:href="@{../../../../meetingMinutesPage/index}">Протоколы заседаний</a>
        <a class="header-button header-button11" th:href="@{../../../../reportsPage/index}">Отчеты</a>
        <div class="separator"></div>
        <a class="header-button" th:href="@{/logout}">Выход</a>
    </div>
</header>