<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Profcom</title>
    <link rel="stylesheet" href="../../static/css/logIn.css" th:rel="stylesheet"
          th:href="@{/css/logIn.css}">
    <link rel="stylesheet" href="../../static/css/signFormElements.css" th:rel="stylesheet"
          th:href="@{/css/signFormElements.css}">
<!--    <link rel="stylesheet" href="../../static/css/general.css" th:rel="stylesheet"-->
<!--          th:href="@{/css/general.css}">-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700" rel="stylesheet"
          th:href="@{https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700}"
          th:rel="stylesheet">
</head>

<body>
<!--<header th:replace="commonElements/header :: header"></header>-->
<main id="main">
    <div th:replace="logInPage/logInForm :: container"></div>

</main>
<script>
    function setTheme() {
        if (localStorage.getItem('isDarkTheme') === 'true') {
            document.documentElement.style.setProperty('--bg-color-1', '#222');
            document.documentElement.style.setProperty('--bg-color-2', '#333');
            document.documentElement.style.setProperty('--bg-color-3', '#444');
            document.documentElement.style.setProperty('--bg-color-4', '#555');
            document.documentElement.style.setProperty('--font-color-1', '#ddd');
            document.documentElement.style.setProperty('--font-color-2', '#eee');
            document.documentElement.style.setProperty('--font-color-3', '#fff');
            document.documentElement.style.setProperty('--border-color', '#777');
        } else if ((localStorage.getItem('isDarkTheme') === 'false')) {
            document.documentElement.style.setProperty('--bg-color-1', '#ccc');
            document.documentElement.style.setProperty('--bg-color-2', '#ddd');
            document.documentElement.style.setProperty('--bg-color-3', '#eee');
            document.documentElement.style.setProperty('--bg-color-4', '#fff');
            document.documentElement.style.setProperty('--font-color-1', '#222');
            document.documentElement.style.setProperty('--font-color-2', '#333');
            document.documentElement.style.setProperty('--font-color-3', '#444');
            document.documentElement.style.setProperty('--border-color', '#777');
        }
    }
    setTheme();
</script>
</body>
<!--<footer th:replace="commonElements/footer :: footer">someFooter</footer>-->
</html>
