:root {
    --bg-color-1: #222;
    --bg-color-2: #333;
    --bg-color-3: #444;
    --bg-color-4: #555;
    --font-color-1: #ddd;
    --font-color-2: #eee;
    --font-color-3: #fff;
    --border-color: #777;
}

* {
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--bg-color-1);
    display: flex;
    flex-direction: row;
}

.main {
    width: 100%;
}



