

#header {
    padding: 10px;
    transition-duration: 0.2s;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 0;
    height: 100vh;
    background-color: var(--bg-color-2);
}

.header-txt-container{
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    opacity: 0;
    transition-duration: 0.2s;
}

header:hover .header-txt-container{
    opacity: 1;
}

.header-txt{
    font-weight: 700;
    font-size: 30px;
    color: var(--font-color-1);
}

header:hover #header {
    width: 400px;
}

header:hover .header-button {
    opacity: 1;

}

.header-button {
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: var(--font-color-1);
    margin: 0 5px;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition-duration: 0.2s;
}

.header-button:hover {
    background-color: var(--bg-color-3);
}

.separator{
    height: 1px;
    background-color: var(--font-color-1);
    width: 95%;
    margin: 10px auto;
}

.theme-switcher-container{
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: var(--bg-color-1);
    border-radius: 10px;
}

.switcher-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--bg-color-2);
}