:root {
    --bg-color-1: #222;
    --bg-color-2: #333;
    --bg-color-3: #444;
    --bg-color-4: #555;
    --font-color-1: #ddd;
    --font-color-2: #eee;
    --font-color-3: #fff;
    --border-color: #777;
}

body{
    font-family: "Montserrat";
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg-color-1);
}

.container{
    width: 500px;
    height: 435px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.form-log-in {
    background-color: var(--bg-color-2);
    width: 500px;
    height: 360px;
    position: absolute;
    border-radius: 10px;
}

#log-in-button {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    height: 60px;
    font-size: 15px;
    color: var(--font-color-1);
    background-color: var(--bg-color-3);
    border: 0;
    border-radius: 5px;
}

#register-text-div {
    display: flex;
    justify-content: right;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 30px;
    color: var(--font-color-1);
}

#log-in-button:hover{
    color: var(--font-color-1);
    cursor: pointer;
    background-color: var(--bg-color-4);
}

.has-error{
    color: var(--font-color-1);
    font-size: 15px;
    position: absolute;
    bottom: 0;
    margin-right: -50%;
    left: 50%;
    transform: translate(-50%, 0);
}
